@charset "UTF-8";

:root {
    --color1: #9ab2bd;
    --color2: #009ADB;
    --color3: #3080A2;
    --color4: #00638F;
    --color5: #00405C;
    --color6: #002a3b;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    /*margin: 0px;
    padding: 0px;*/
    font-size: 1em;
    font-family: var(--fonte1);
    line-height: 1.5em;
}

body {
    text-align: center;
    background-color: var(--color6);
/*background-image: linear-gradient(to bottom, var(--color5), var(--color6));    */
    color: white;
    
}

main {
    padding-top: 20vh;
    width: 90vw;
    margin: auto;    
}

div.conteudo {
    display: inline-block;
}

div#img {
    vertical-align: middle;
    
}

div#texto {
    max-width: 650px;
    text-align: left;
    vertical-align: middle;
}

div#texto > h1 {
    font-size: 2em;
    line-height: 0px;
}

div#texto > h2 {
    font-size: 2em;
    color: yellow;
}

.bt {
    box-shadow: inset 0px -1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 30px; 
    border-color: var(--color6);
    background-color: yellow;
    color: var(--color6);
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.479);
    display: inline-block;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
    padding: 15px 30px;
    text-decoration: none;   
}

.bt:hover {
    background-color: rgb(216, 216, 2);
}

.popup {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 350px;
    display: block;
    background-color: white;
    color: black;
}

.topo {
    background-color: gray;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
    
}
.popup h1 {
    font-size: 1.8em;
}

.bt2 {
    box-shadow: inset 0px -1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 3px; 
    background-color: orange;
    color: white;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.479);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 15px 160px;
    text-decoration: none;
}

.bt2:hover {
    background-color: rgb(226, 148, 4);;
}