@charset "UTF-8";

:root {
    --color1: #9ab2bd;
    --color2: #009ADB;
    --color3: #3080A2;
    --color4: #00638F;
    --color5: #00405C;
    --color6: #002a3b;
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    /*margin: 0px;
    padding: 0px;*/
    font-size: 1em;
    font-family: var(--fonte1);
    line-height: 1.5em;
}

body {
    text-align: center;
    background-color: var(--color6);
/*background-image: linear-gradient(to bottom, var(--color5), var(--color6));    */
    color: white;
    
}

main {
    padding-top: 20vh;
    width: 90vw;
    margin: auto;    
}

div.conteudo {
    display: inline-block;
}

div#img {
    vertical-align: middle;
    
}

div#texto {
    max-width: 650px;
    text-align: left;
    vertical-align: middle;
}

div#texto > h1 {
    font-size: 2em;
    line-height: 0px;
}

div#texto > h2 {
    font-size: 2em;
    color: yellow;
}

.bt {
    box-shadow: inset 0px -1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 30px; 
    border-color: var(--color6);
    background-color: yellow;
    color: var(--color6);
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.479);
    display: inline-block;
    cursor:pointer;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
    padding: 15px 30px;
    text-decoration: none;   
}

.bt:hover {
    background-color: rgb(216, 216, 2);
}

.popup {
    border-radius: 15px; 
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 90vw;
    max-width: 700px;
    max-height: 440px;
    display: none;
    background-color: rgb(200, 225, 233);
    color: gray;
}

.popup strong {
    color: rgba(0, 0, 0, 0.699);
}

.topo {
    border-radius: 13px 13px 0px 0px; 
    background-color: rgb(61, 61, 61);
    padding-top: 10px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 5px;
    margin-bottom: 2%;
    color: white;
}

.popup h1 {
    margin: 0px;
    padding-top: 15px;
    font-size: 1.5em;
}

.topo h2 {
    margin-top: 0px;
    font-size: 1em;
    font-weight:lighter ;
    color: gray;
}

.corpo {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    width: 85%;
    font-size: 0.9em;
}

.p1 {
    text-align: left;
    padding-left: 5px;
    
}

.p2 {
    text-align: center;
}

.email {
    border: solid 2px rgb(86, 192, 228);
    border-radius: 3px; 
    width: 95%;
    padding: 15px 5px 15px 5px;
    color: gray;
}

.bt2 {
    box-shadow: inset 0px -1px 2px 1px rgba(0, 0, 0, 0.342);
    border-radius: 3px; 
    background-color: orange;
    color: white;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.479);
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
    padding: 15px 5px 15px 5px;
    width: 95%;
    
    text-decoration: none;
}

.bt2:hover {
    background-color: rgb(226, 148, 4);;
}

.btfechar {
    float: right;
    margin: -18px -17px 0 0;
}